<nav class="nav-main show-for-large text-upper bold">

    <ul class="dropdown menu align-right" data-dropdown-menu>
        {% for item in menu.get_items %}

            {% if item.slug != 'special' or item.slug == 'special' and specials|length > 0 %}

                <li class="{{ item.classes | join(' ') }} {{ item.get_children ? 'is-dropdown-submenu-parent' }}">
                    <a class="{{ 'page-' ~ item.id }}" href="{{ item.get_link }}">{{ item.title }}</a>

                    {# Get child menu items. #}
                    {% if item.get_children %}
                        <ul class="menu is-dropdown-submenu">
                            {% for child in item.get_children %}
                                <li class="{{ item.classes | join(' ') }}">
                                    <a href="{{ child.get_link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}

        {% endfor %}
    </ul>
</nav>