<div class="title-bar fixed hide-for-large" data-hide-for="large">
    <div class="float-left">
        <a href="{{ site.link }}">
            <img class="mobile-logo-header" src="{{ theme.link ~ '/img/hotrockslogo-mobileheader.png' }}">
        </a>
    </div>

    <div class="float-right">
        <div class="title-bar-title text-upper" data-open="offCanvas">Menu</div>
        <button class="" type="button" data-open="offCanvas">
            <svg class="icon">
                <use xlink:href="#mobile-menu-icon"></use>
            </svg>
        </button>
    </div>
</div>