// ---------------------------------------
//  Lazyloading
// ---------------------------------------
// Styles to blur low quality image and fade in the High Quality over it.
.lazyload.blur-up,
.lazyloading.blur-up {
  filter: blur(10px);
  transition: filter 1s;
}

.lazyloaded.blur-up {
  filter: blur(0);
}


// ---------------------------------------
//  Intrinsic Sizes
// ---------------------------------------
.intrinsic {
  position: relative;
  height: 0;

  &.hero {
    @include intrinsic-ratio(1600, 550);
  }
  &.page-links-image {
    @include  intrinsic-ratio(741, 500);
  }
  &.menu-links-image {
    @include  intrinsic-ratio(741, 500);
  }
  &.page-links-image-small {
    @include  intrinsic-ratio(741, 250);
  }
  img,
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    overflow: hidden;
  }
}

// ---------------------------------------
//  General SVG Icon Styles
// ---------------------------------------
svg.icon {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  fill: currentColor; // Applies current font color to fill.
}
// ---------------------------------------
//  Contact Styles
// ---------------------------------------
.info .icon,
.social .icon {
  fill: $primary-color;
  margin-right: 1rem;
}
.info {
  font-size: 1.5em;
  display: flex;
  margin-bottom: 1rem;
}
.social {
  display: flex;
  font-size: 1.5em;
}
.social .icon {
  margin-right: 1.5rem;
}
.phone-icon {
  transform: rotate(90deg);
}
// ---------------------------------------
//  Gravity Forms
// ---------------------------------------
.gform_validation_container {
  display: none;
}
.gform_wrapper ul {
  margin: 0;
}
.gform_wrapper li {
  list-style: none;
}
// ---------------------------------------
//  Misc
// ---------------------------------------
.title-bar .icon {
  fill: $white;
}

.hero {
  position: relative;
}
.hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
}
*:focus {
  outline-color: $white;
}