.upper-footer {
  @include roboto_condensed();
  padding: 2rem;
  margin-bottom: 1rem;
}
.upper-footer .info {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  flex-direction: column;
  margin-top: 2rem;
  @include breakpoint(large) {
    flex-direction: row;
  }
}
.border {
  border-bottom: 2px $white solid;
  margin: 0 2rem;
}
.lower-footer {
  @include roboto_condensed();
  line-height: 1.5;
  font-size: 0.9em;
  @include breakpoint(large) {
    font-size: 1em;
    line-height: 3;
  }
}