////////////////////////////////////////////////
///////// FRONT PAGE HERO CONTENT
////////////////////////////////////////////////
.hero-content .icon {
  position: absolute;
  bottom: 4.5rem;
  font-size: 4em;
}
.hero-content {
  top: 0;
  padding: 1rem;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-delay: 0.5s;
  animation-name: fade;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  opacity: 0;
}

.video-background {
  position: relative;
  height: 100vh;
  margin: 0;
  background-color: $black;
  overflow: hidden;
}
.hero-player {
  opacity: 0.75;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes fade {
  100% {
    opacity: 1;
  }
}
////////////////////////////////////////////////
///////// FRONT PAGE PAGE CONTENT
////////////////////////////////////////////////
.front-page-content {
  padding: 2rem 0 4rem;
  background: url('../img/smoke-fire-bg.jpg') no-repeat bottom;
  background-size: cover;
  min-height: 32rem;
  text-shadow: 2px 2px 2px $black;
}
.front-page-content h1 {
  font-size: 5em;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
.front-page-content .searsizzlesavor {
  padding: 0.5rem;
}
////////////////////////////////////////////////
///////// FRONT PAGE PAGE LINKS
////////////////////////////////////////////////
.page-links {
  overflow: hidden;
  margin: 1rem 0;
  @include breakpoint(large) {
    margin: 4rem 0;
  }
}
.page-links figure {
  position: relative;
  figcaption {
    text-shadow: $black 2px 2px 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    margin: 0;
  }
}
////////////////////////////////////////////////
///////// FRONT PAGE VIDEO PLAYER UI
////////////////////////////////////////////////
.video-and-specials {
  background: url('../img/tiki-smoke-bg.jpg') no-repeat center;
  background-size: cover;
}
.video-container {
  flex: 0 100%;
  margin: 1rem 1rem 0 1rem;
}
.video-buttons {
  margin: 1rem 1rem 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include breakpoint(large) {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 0;
  }
}
.video-buttons > div {
  flex: 0 50%;
  padding-left: 1rem;
  @include breakpoint(large) {
    flex: 0 100%;
  }
}
.video-buttons-container {

  @include breakpoint(large) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.video-buttons .button {
  width: 100%;
  background-color: $dark-gray;
  @include breakpoint(large) {
    line-height: 2;
    font-size: 1.5em;
  }
}
.video-buttons li {
  list-style: none;
  margin: 0;
}
.video-buttons .button.current-video {
  background-color: $primary-color;
}
////////////////////////////////////////////////
///////// FRONT PAGE SPECIALS CAROUSEL
////////////////////////////////////////////////
.specials {
  margin-top: 4rem;
}
.special-card {
  margin: 0.5rem;
  position: relative;
  background-color: $black;
  overflow: hidden;
  box-shadow: 2px 2px 4px $black;
}
.special-card img {
 width: 100%;
}
.special-card figcaption {
  font-size: 0.9em;
  z-index: 2;
  padding: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
}

.special-card .content {
  display: none;
}
.special-card .valid {
  display: none;
}
.special-card .overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $black;
  transition: opacity 0.5s;
  opacity: 0.2;
}
.specials .view-specials {
  display:none;
  align-items: center;
  justify-content: flex-start;
}
.specials .view-specials .text {
  padding-right: 1rem;
  border-bottom: solid $white 1px;
}

.special-card.reveal-content figcaption {
  animation-name: slideup;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
@keyframes slideup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.special-card.reveal-content .overlay {
  opacity: 0.8;
}
.special-card.reveal-content .valid {
  display: block;
}
.special-card.reveal-content .content {
  display: block;
}
.special-card.reveal-content .excerpt {
  display: none;
}
.special-card.reveal-content .view-specials {
  display: flex;
}
.special-card.reveal-content .view-specials .icon {
  font-size: 1.2em;
  margin-left: 0.5rem;
}


.whatinput-types-touch {
  .special-card .overlay {
    opacity: 0.8;
  }
  .special-card .valid {
    display: block;
  }
  .special-card .content {
    display: block;
  }
  .special-card .excerpt {
    display: none;
  }
  .special-card .view-specials {
    display: flex;
  }
  .special-card .view-specials .icon {
    font-size: 1.2em;
    margin-left: 0.5rem;
  }
}

.specials-carousel {
  visibility: hidden;
  margin: 0 2rem;
  @include breakpoint(large) {
    margin: 0 4rem;
  }
}
.specials-carousel.slick-initialized {
  visibility: visible;
}

.specials .slick-arrow {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  &:focus {
    outline: none;
  }
}
.specials .slick-arrow .icon {
  width: 2rem;
  height: 2rem;
}
.specials .slick-prev {
  left: -3rem;
}
.specials .slick-next {
  right: -3rem;
}
////////////////////////////////////////////////
///////// FRONT PAGE NEWS LETTER SIGNUP
////////////////////////////////////////////////
.newsletter-signup {
  margin-top: 2rem;
  padding: 0 2rem 0 2rem;
  @include breakpoint(large) {
    padding: 0;
  }
}
.newsletter-signup .form-header {
  margin: 0;
  line-height:1;
}
.newsletter-signup form {
  display: flex;
  justify-content: center;
  flex-direction:row;
  margin: 1rem 0 2rem;
}
.newsletter-signup .gform_body {
  flex: 0 100%;
}
.newsletter-signup li {
  list-style: none;

}
.newsletter-signup ul {
  margin: 0;
}
.newsletter-signup label.gfield_label {
  display: none;
}
.newsletter-signup input[type="text"] {
  outline: 1px solid $white;
  border-bottom: 1px solid $white;
  box-shadow: none;
}
.newsletter-signup input:focus {
  //border: none;
  background: $light-gray;
}
.newsletter-signup input[type="submit"] {
  border: none;
  //border: solid $primary-color 1px;
  border-bottom: 1px solid $primary-color;
  outline: solid 1px $primary-color;
  text-transform: uppercase;
  background-color: $primary-color;
}
////////////////////////////////////////////////
///////// FRONT PAGE GET IN TOUCH
////////////////////////////////////////////////
.get-in-touch h2 {
  margin-right: 2rem;
  border-bottom: solid 2px $dark-gray;
  margin-bottom: 2rem;
}
.get-in-touch {
  @include roboto_condensed();
  background: url('../img/get-in-touch-bg.jpg') no-repeat center;
  background-size: cover;
  padding: 2rem 1rem 2rem 1rem;
  @include breakpoint(large) {
    padding: 8rem 0 4rem 0;
  }
}
.get-in-touch .send-a-message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}
.get-in-touch .send-a-message .text {
  border-bottom: solid 1px $primary-color;
}
.get-in-touch .send-a-message .icon {
  font-size: 1.5em;
  margin-left: 0.5rem;
}
.get-in-touch .icon .outer {
  fill: $primary-color;
}
.get-in-touch .icon .inner {
  fill: $white;
}