
.gallery-template {
  background: url('../img/tiki-smoke-bg.jpg') no-repeat center;
  background-size: cover;
  padding-top: 2rem;
}
.gallery-template .video-container {
  margin: 0 0 1rem 0;
}
.gallery-template figure {
  position: relative;
}
.gallery-template figure img {
  width: 100%;
}
.gallery-template figcaption {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  padding: 1rem;
}

.gallery-modal {
  overflow: hidden;
  background-color: $dark-gray;
  border: $dark-gray 2px solid;
  padding: 0;
}
.gallery-modal .icon {
  fill: $white;
  font-size: 0.7em;
}

.gallery-nav-carousel {
  margin: 0.25rem 2.5rem;
}

.gallery-modal .slick-arrow {

  position: absolute;
  z-index: 2;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);

  @include breakpoint(medium) {
    top: inherit;
    transform: inherit;
    background-color: transparent;
    bottom: -4rem;
  }
  @include breakpoint(large) {
    bottom: -3.5rem;
  }
}
.gallery-modal .slick-arrow .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.gallery-modal .slick-prev {
  left: 0;
  @include breakpoint(medium) {
    left: -10px;
  }
}
.gallery-modal .slick-next {
  right: 0;
  @include breakpoint(medium) {
    right: -10px;
  }
}
.gallery-slide img {
  margin: 0 auto;
}
.gallery-modal .slick-arrow:focus {
  outline: none;
}