.title-bar {
  z-index: 3;
  position: relative;
  width: 100%;
}
.mobile-logo-header {
  margin-top: 4px;
  fill: $white;
  width: 5em;
  height: 1em;
}
.logo-header {
  position: relative;
  padding: 0.7rem;
  z-index: 2;
}
.home .header {
  display: block;
}
.header {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  @include breakpoint(large) {
    display: inline-block;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.single-special .header,
.error404 .header {
  position: relative;
}