.info-template {
  background: url('../img/tiki-smoke-bg.jpg') no-repeat center;
  background-size: cover;
  padding: 2rem 1rem 2rem 1rem;
  @include breakpoint(large) {
    padding: 4rem 0 4rem 0;
  }
}
.info-template .content {
  margin-bottom: 4rem;
}
.info-template .info {
  @include roboto_condensed;
}
.info-template .gform_wrapper {
  margin-top: 2rem;
  @include breakpoint(large) {
    margin-top: 0;
  }
}
.info-template .gform_wrapper input[type="submit"] {
  text-transform: uppercase;
  @include roboto_condensed;
  font-weight: bold;
}
.info-template .gform_wrapper label {
  display: none;
}
.map {
  margin-top: 2rem;
  @include breakpoint(large) {
    margin-top: 4rem;
  }
}