/**
 * Off canvas nav
 */
// Make off canvas nav the full height
.off-canvas {
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  @include roboto_condensed;
}
.nav-main, .title-bar {
  border-bottom: 2px $medium-gray solid;
}

.nav-main a {
  line-height: 3em;
  position: relative;
}

.nav-main a:hover {
  &::after {
    @extend .nav-line;
  }
  &::before {
    @extend .nav-triangle;
  }
}

.nav-main a.indicator::after {
  @extend .nav-line;
}

.nav-main a.indicator::before {
  @extend .nav-triangle;
}

.nav-line {
  content: ' ';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: $primary-color 2px solid;
  width: 100%;
}
.nav-triangle {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $primary-color;
}