.menu-group {
  position: relative;
  margin: 2rem 0 4rem 0;
}
.menu-group .section-text {
  text-align: center;
  padding: 0 0 1rem 0;
}
.menu-group-heading {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.restaurant-menu-item {
  @include breakpoint(medium) {
    padding-right: 2rem;
  }
}

.hr-fav {
  color: #27bab7;
}
.menu-item-name {
  margin-bottom: 0;
}
.menu-item-price {
  margin-left: 2rem;
  font-style: italic;
  line-height: 2;
}
.menu-item-heading {
  display: inline;
}