.restaurant-menu-archive {
  padding: 2rem 1rem;
  background: url('../img/tiki-smoke-bg.jpg') no-repeat center;
  background-size: cover;
}
.restaurant-menu-archive .menu-links-image img {
  padding: 1rem;
}
.restaurant-menu-archive .menu-image-link {
  position: relative;
}
.restaurant-menu-archive .menu-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 4px 4px 16px $black;
  @include breakpoint(large) {
    font-size: 4em;
  }
}