.special-single {
  background: url('../img/tiki-smoke-bg.jpg') no-repeat center;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.special-single .valid {
  color: $primary-color;
  font-style: italic;
}
.specials-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;

}
.specials-nav div {
  display:flex;
  flex-direction: row;
  align-items: center;
}
.specials-nav .icon {
  font-size: 2em;
  margin-left: 0.5rem;
}
.specials-nav .icon.prev {
  margin-left: 0;
  margin-right: 0.5rem;
  transform: rotate(180deg);
}
.specials-nav a {
  font-size: 1.3em;
  border-bottom: 1px solid $white;
}
.specials-nav-next {
  text-align: right;
}
.specials-nav-next.no-prev {
  margin-left: auto;
}