// ---------------------------------------
//  General helper classes
// ---------------------------------------
body {
  @include opensans;
}

a {
  transition: all .2s ease;
}
p {
  @include breakpoint(large) {
    font-size: 1.1em;
  }
}
h1,h2,h3,h4,h5,h6 {
  @include roboto_condensed;
}
.h1,.h2,.h3,.h4,.h5,.h6 {
  @include roboto_condensed;
}
.cursive {
  @include alex_brush();
}
.text-upper {
  text-transform: uppercase;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}
.bold {
  font-weight: 700;
}
.underline {
  text-decoration: underline;
}