<div class="restaurant-menu-item {{ menu_item.is_featured ? 'featured' }}">

    <div>
        <h2 class="menu-item-heading h4 bold {% if menu_item.hr_favorite %}hr-fav{% endif %}">{{ menu_item.title }}</h2>
        <span class="show-for-sr">$</span><span class="h4 menu-item-price">{{ menu_item.price }}</span>
    </div>
    <div class="menu-item-description">{{ menu_item.description }}</div>

</div>