{# Schema information: http://www.whitespark.ca/blog/post/62-the-json-ld-markup-guide-to-local-business-schema #}
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "LocalBusiness",
		"name": "{{ site.title }}",
		"location": {
			"@type": "Place",
			"name": "{{ site.title }}",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "{{ option.address.street }}",
				"addressLocality": "{{ option.address.city }}",
				"addressRegion": "{{ option.address.state }}",
				"postalCode": "{{ option.address.zip }}"
			}
		},
		"logo": "{{ theme.link }}/img/logo-schema.png",
		"email": "{{ option.email }}",
		"sameAs": [
			{% for item in option.social_media_links %}
				"{{ item.link }}"{{ option.social_media_links|length == loop.index ? '' : ',' }}
			{% endfor %}
		],
		"hasMap": "Map Link",
		"additionalType": "https://schema.org/Restaurant",
		"telephone": "{{ option.phone }}",
		"url": "{{ site.link }}",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "{{ option.address.street }}",
			"addressLocality": "{{ option.address.city }}",
			"addressRegion": "{{ option.address.state }}",
			"postalCode": "{{ option.address.zip }}"
		},
		"priceRange": "$$$",
		"image": "{{ theme.link }}/img/scary-face.jpg"
	}
</script>
