{% extends "base.twig" %}

{% block content %}

	<div class="_404">
		<section class="text-center grid-container">

			<div class="grid-x grid-margin-x">
				<div class="large-6 cell">
					<div class="show-for-large large-6 cell">
						<img src="{{ theme.link ~ '/img/scary-face.jpg' }}" alt="Scary Face">
					</div>
				</div>
				<div class="large-6 cell">
					<h1 class="text-upper bold">Page Not Found</h1>
					<span class="h4">Sorry, you're lost in the jungle... Please use the menu to get back on the trail or navigate to our <a
							href="{{ site.link }}">homepage</a>.</span>
				</div>
			</div>

		</section>


	</div>

{% endblock %}