{% extends "base.twig" %}

{% block content %}
    <div class="restaurant-menu-archive">
        <section class="grid-container text-center">
            <h1 class="text-upper bold">{{ post.title }}</h1>
            {{ post.content }}
        </section>

        <div class="grid-container full">
            <div class="grid-x grid-margin-x grid-margin-y">

                {% for menu in posts %}

                    <div class="cell large-6 menu-image-link" data-link="{{ menu.link }}">
                        <div class="intrinsic menu-links-image">
                            <img src="{{ Image(menu.thumbnail).src|resize(741,500) }}"
                                 data-src="{{ Image(menu.thumbnail).src|resize(741,500) }}"
                                 alt="{{ Image(menu.thumbnail).src.alt }}"
                                 class="lazyload blur-up">
                        </div>

                        <div class="text-upper text-center bold h1 menu-image-text">
                            <a href="{{ menu.link }}">{{ menu.title }}</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}