{% extends "base.twig" %}

{% block content %}
    <div class="specials-archive">
        <section class="grid-container text-center">
            <h1 class="text-upper bold">{{ post.title }}</h1>
            {{ post.content }}
        </section>

        <div class="specials">

            <div class="specials-carousel">

                {% for special in posts %}
                    <figure class="special-card" data-link="{{ special.link }}">
                        <div class="overlay"></div>
                        <img src="{{ Image(special.thumbnail).src|resize(400,500) }}"
                             data-src="{{ Image(special.thumbnail).src|resize(400,500) }}"
                             alt="{{ Image(special.thumbnail).alt }}"
                             class="lazyload blur-up">
                        <figcaption>
                            <div class="bold text-upper h5 underline title">{{ special.title }}</div>
                            <div class="valid bold text-upper">Valid {{ special.valid }}</div>
                            <div class="excerpt">{{ special.content|truncate(12) }}</div>
                            <div class="content hide-for-large">{{ special.content|truncate(20) }}</div>
                            <div class="content show-for-large">{{ special.content|truncate(30) }}</div>
                            <div class="view-specials">
                                <div class="bold text-upper text">
                                    <a href="{{ special.link }}">View Specials</a>
                                </div>
                                <div>
                                    <svg class="icon">
                                        <use xlink:href="#arrow-circle"></use>
                                    </svg>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>

        </div>

    </div>
{% endblock %}
