{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    {# SVG Icons #}
    <div class="hide">{{ fn('file_get_contents', fn('get_template_directory') ~ '/img/svg/svg.svg') }}</div>

    {# OFF CANVAS MENU #}
    {% include 'navigation/nav-off-canvas.twig' %}
</div>

<div class="off-canvas-content" data-off-canvas-content>
    {# TOP BAR #}

    {% block nav_top_bar %}

        {% include 'navigation/nav-top-bar.twig' %}

    {% endblock %}

    <header class="header">

        {% block header %}

            <a class="show-for-large float-left" href="{{ site.link }}">
                <img class="logo-header" src="{{ theme.link ~ '/img/hotrockslogoheader.png' }}" alt="Hot Rocks logo">
            </a>

            {% include 'navigation/nav-main.twig' %}
        {% endblock %}
    </header>

    <section class="hero">
        {% block hero %}
            {% if post.royalslider %}
                {{ fn('get_new_royalslider', post.royalslider) }}
            {% endif %}
        {% endblock %}
    </section>

    <section role="main" class="content-wrapper">
        <div class="wrapper {{ sidebar_class }}">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </div>
    </section>

    {% block footer %}
        <footer id="footer">
            {% include 'footer.twig' %}
        </footer>

        {# LOAD FONTS #}
        <script>
            // Load fonts asynchronously.
            WebFontConfig = {
                google: {
                    families: ['Alex Brush', 'Roboto Condensed:400,700', 'Open Sans:400,400i,700:latin']
                }
            };

            (function (d) {
                var wf = d.createElement('script'), s = d.scripts[0];
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
                wf.async = true;
                s.parentNode.insertBefore(wf, s);
            })(document);
        </script>

        {{ function('wp_footer') }}

    {% endblock %}
</div>

{# SCHEMA #}
{% include 'partials/schema.twig' %}
</body>
</html>