

<div class="grid-container text-center upper-footer">

    <img src="{{ theme.link ~ '/img/hotrocks-logo-footer.png' }}">

    <div class="grid-container">
        <div class="info bold">
            <div>{{ option.address.street }}, {{ option.address.city }}, {{ option.address.state }} {{ option.address.zip }}</div>
            <div><a href="tel:1{{ fn('format_phone', option.phone) }}">{{ option.phone }}</a></div>
            <div>{{ option.email }}</div>
        </div>
    </div>
</div>

<div class="border"></div>

<div class="grid-container lower-footer">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6 text-center medium-text-left">
            &copy;{{ "now"|date('Y') }} Hot Rocks
        </div>

        <div class="cell medium-6 text-center medium-text-right">
            Designed & Developed by <a href="https://www.vectorandink.com" target="_blank">Vector & Ink</a>
        </div>
    </div>
</div>
