{% extends "base.twig" %}


{% block hero %}
    <div class="video-background">

        <video id="header-player"
               class="hero-player"
               preload="auto"
               loop
               muted
               autoplay
               data-object-fit="cover"
               poster="{{ theme.link }}/img/video-poster.jpg">


            <source src="https://player.vimeo.com/external/281978286.hd.mp4?s=ddb171c5eb6ec68480df5bc344e9521bcc66f99a&profile_id=175"
                    type="video/mp4"
                    media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)">

            <source src="https://player.vimeo.com/external/281978286.sd.mp4?s=ea1a2eb0d3ab23f651e9ba90c81087dd606d0632&profile_id=165"
                    type="video/mp4"
                    media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)">
        </video>


        <div class="hero-content">
            <img class="logo" src="{{ theme.link ~ '/img/hotrocks-splash-logo.png' }}"
                 alt="Hotrocks Logo">

            <svg class="icon">
                <use xlink:href="#scroll-down-vi-icon"></use>
            </svg>

        </div>

    </div>

{% endblock %}

{% block content %}
    <section class="front-page-content">
        <div class="grid-container text-center">
            <h1 class="text-upper bold">{{ post.title }}</h1>
            <img class="searsizzlesavor" src="{{ theme.link ~ '/img/searsizzlesavor.png' }}" alt="Sear. Sizzle. Savor">
            {{ post.content }}
        </div>
    </section>

    <section class="page-links">
        <div class="grid-container full">
            <div class="grid-x grid-margin-x">

                <figure class="cell large-6" data-link="{{ post.page_link_1.url }}">
                    <div class="intrinsic page-links-image show-for-large">
                        <img src="{{ Image(post.page_link_image_1)|resize(741,500) }}"
                             data-src="{{ Image(post.page_link_image_1)|resize(741,500) }}"
                             alt="{{ Image(post.page_link_image_1).alt }}"
                             class="lazyload blur-up">
                    </div>
                    <div class="intrinsic page-links-image-small hide-for-large">
                        <img src="{{ Image(post.page_link_image_1)|resize(741,250) }}"
                             data-src="{{ Image(post.page_link_image_1)|resize(741,250) }}"
                             alt="{{ Image(post.page_link_image_1).alt }}"
                             class="lazyload blur-up">
                    </div>

                    <figcaption class="text-upper text-center bold h1">
                        <a href="{{ post.page_link_1.url }}">{{ post.page_link_1.title }}</a>
                    </figcaption>
                </figure>

                <figure class="cell large-6" data-link="{{ post.page_link_2.url }}">
                    <div class="intrinsic page-links-image show-for-large">
                        <img src="{{ Image(post.page_link_image_2)|resize(741,500) }}"
                             data-src="{{ Image(post.page_link_image_2)|resize(741,500) }}"
                             alt="{{ Image(post.page_link_image_2).alt }}"
                             class="lazyload blur-up">
                    </div>
                    <div class="intrinsic page-links-image-small hide-for-large">
                        <img src="{{ Image(post.page_link_image_2)|resize(741,250) }}"
                             data-src="{{ Image(post.page_link_image_2)|resize(741,250) }}"
                             alt="{{ Image(post.page_link_image_2).alt }}"
                             class="lazyload blur-up">
                    </div>
                    <figcaption class="text-upper text-center bold h1">
                        <a href="{{ post.page_link_2.url }}">{{ post.page_link_2.title }}</a>
                    </figcaption>
                </figure>

            </div>
        </div>
    </section>

    <section class="video-and-specials">

        <div class=" text-center grid-container full">

            <div class="grid-x">

                <div class="large-2 cell">
                    {# SPACER #}
                </div>

                <div class="large-8 cell">
                    <div class="responsive-embed widescreen video-container">
                        <div id="player"></div>
                    </div>
                </div>

                <div class="large-2 cell text-right video-buttons-container">
                    <div id="video-buttons" class="video-buttons">
                        {% for video in post.get_field('videos') %}

                            <button class="button text-upper bold video-button {{ loop.first ? 'current-video' }}"
                                        data-video="{{ video.video_id }}">{{ video.video_title }}</button>

                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>

        <div class="specials">

            {% if specials|length > 0 %}

                <h2 class="h1 bold text-center text-upper">Specials</h2>

            {% endif %}

            <div class="specials-carousel">

                {% for special in specials %}
                    <figure class="special-card" data-link="{{ special.link }}">
                        <div class="overlay"></div>
                        <img src="{{ Image(special.thumbnail).src|resize(400,500) }}"
                             data-src="{{ Image(special.thumbnail).src|resize(400,500) }}"
                             alt="{{ Image(special.thumbnail).alt }}"
                             class="lazyload blur-up">
                        <figcaption>
                            <div class="bold text-upper h5 underline title">{{ special.title }}</div>
                            <div class="valid bold text-upper">Valid {{ special.valid }}</div>
                            <div class="excerpt">{{ special.content|truncate(12) }}</div>
                            <div class="content hide-for-large">{{ special.content|truncate(20) }}</div>
                            <div class="content show-for-large">{{ special.content|truncate(30) }}</div>
                            <div class="view-specials">
                                <div class="bold text-upper text">
                                    <a href="{{ special.link }}">View Specials</a>
                                </div>
                                <div>
                                    <svg class="icon">
                                        <use xlink:href="#arrow-circle"></use>
                                    </svg>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>

        </div>

    </section>

    <section class="newsletter-signup grid-container">
        <div class="grid-x">
            <div class="large-6 cell large-offset-3">
                <h2 class="bold text-upper h1 form-header">{{ form_title }}</h2>
                {{ form_desc }}
                {{ fn('gravity_form', 1, false, false, false, null, true) }}
            </div>
        </div>
    </section>

    <section class="get-in-touch">
        <div class="grid-container">

            <div class="grid-x grid-margin-x">
                <div class="show-for-large large-6 cell">
                    <img src="{{ theme.link ~ '/img/scary-face.jpg' }}" alt="Scary Face">
                </div>
                <div class="large-6 cell">

                    <h2 class="h1 bold text-upper">
                        Get In Touch
                    </h2>

                    <div class="info">
                        <div>
                            <svg data-link="tel:1{{ fn('format_phone', option.phone) }}" class="icon phone-icon">
                                <use xlink:href="#phone"></use>
                            </svg>
                        </div>
                        <div class="bold">
                            <a href="tel:1{{ fn('format_phone', option.phone) }}">{{ option.phone }}</a>
                        </div>
                    </div>

                    <div class="info">
                        <div>
                            <svg class="icon">
                                <use xlink:href="#envelope"></use>
                            </svg>
                        </div>
                        <div class="bold">{{ option.email }}</div>
                    </div>

                    <div class="info">
                        <div>
                            <svg class="icon">
                                <use xlink:href="#map-marker-alt"></use>
                            </svg>
                        </div>
                        <div class="bold">{{ option.address.street }}<br>
                            {{ option.address.city }}, {{ option.address.state }} {{ option.address.zip }}
                        </div>
                    </div>

                    <div class="social">
                        {% for item in option.social_media_links %}
                            <div>
                                <a href="{{ item.link }}" target="_blank">
                                    <span class="show-for-sr">{{ item.site }}</span>
                                    <svg class="icon">
                                        <use xlink:href="#{{ item.site }}"></use>
                                    </svg>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="send-a-message">
                        <div class="bold text-upper text">
                            <a href="{{ site.link ~ '/info' }}">Send A Message</a>
                        </div>
                        <div data-link="{{ site.link ~ '/info' }}">

                            <svg class="icon" viewBox="0 0 63.7 63.7">
                                <g>
                                    <path class="outer" d="M31.8,63.7C14.3,63.7,0,49.4,0,31.8S14.3,0,31.8,0s31.8,14.3,31.8,31.8S49.4,63.7,31.8,63.7z M31.8,3C15.9,3,3,15.9,3,31.8
		s12.9,28.8,28.8,28.8s28.8-12.9,28.8-28.8S47.7,3,31.8,3z"/>
                                </g>
                                <g>
                                    <path class="inner" d="M45.9,33.4L26.3,53c-0.3,0.3-0.6,0.4-1,0.4s-0.7-0.2-1-0.4l-2.1-2.1c-0.3-0.3-0.4-0.6-0.4-1c0-0.3,0.2-0.7,0.4-1l16.5-16.5
		L22.3,15.9c-0.3-0.3-0.4-0.6-0.4-1s0.2-0.7,0.4-1l2.1-2.1c0.3-0.3,0.6-0.4,1-0.4s0.7,0.2,1,0.4l19.6,19.6c0.3,0.3,0.4,0.6,0.4,1
		S46.1,33.1,45.9,33.4z"/>
                                </g>
                            </svg>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

{% endblock %}

{% block footer %}

    {{ parent() }}

    <script>
        const video_buttons = document.getElementById('video-buttons');
        const individual_video_buttons = document.querySelectorAll('.video-button');
        const initVideo = individual_video_buttons[0].dataset.video;
        const options = {
            id: initVideo,
            width: 1280,
            loop: false,
            autoplay: false,
            title: false,
            byline: false
        };
        jQuery.createPlayer('player', options, video_buttons)

    </script>
{% endblock %}