{% extends "base.twig" %}

{% block nav_top_bar %}
{% endblock %}

{% block header %}
{% endblock %}

{% block hero %}
    <div class="responsive-embed widescreen video-background">
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div class="" id="player"></div>

        <div class="hero-content">
            <img class="logo" src="{{ Image(theme.link ~ '/img/hotrocks-splash-logo.png')|resize(600) }}"
                 alt="Hotrocks Logo">
        </div>

    </div>

{% endblock %}

{% block content %}

    <style>
        /*// ---------------------------------------*/
        /*//  Splash Styles */
        /*// ---------------------------------------*/

        body,html {
            background: white;
            color: black;
        }

        h1 {
            padding-top: 2rem;
            color: #9a1355 !important;
        }
        .buttons {
               display: flex;
               flex-direction: row;
               justify-content: center;
           }
        .buttons .button {
            color: #9a1355 !important;
            margin: 1rem 1rem 2rem 1rem;
            border-width: 2px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-color: #9a1355 !important;
            @include roboto_condensed;
        }
        .buttons .button:hover {
            color: white !important;
            background-color: #9a1355 !important;
            border-color: #9a1355 !important;
        }

        @keyframes fade {
            100% {
                opacity: 1;
            }
        }
        .hours {
            padding: 1rem 0;
            background-color: #49776c;
            color: white;
        }
        .splash-footer {
            padding: 2rem 0;
            color: white;
            background-color: black;
        }
        .footer-content {
            display:flex;
            flex-direction: row;
            align-items:center;
            margin-bottom: 1rem;
            justify-content: center;

        }
    </style>

    <div class="text-center grid-container">
        <h1 class="text-upper bold h2">Eat On Hot Rocks</h1>
        {{ post.content }}
    </div>


    <div class="buttons">
        <a href="{{ theme.link ~ '/img/HR-front-menuweb.pdf' }}" target="_blank" class="hollow button text-upper bold">View Menu Front</a>
        <a href="{{ theme.link ~ '/img/HR-back-menuweb.pdf' }}" target="_blank" class="hollow button text-upper bold">View Menu Back</a>
        <a href="tel:1{{ fn('format_phone', option.phone) }}" class="hollow button text-upper bold">Call Us</a>
    </div>

    <div class="hours text-upper">
        <div class="grid-container">
            <h2 class="h3 bold text-center">
                Hours
            </h2>
            <div class="grid-x grid-margin-x">
                <div class="cell text-center">
                    4 PM - Close
                </div>
            </div>
        </div>
    </div>

    <div class="splash-footer text-upper bold">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="large-4 cell footer-content">
                    <img src="{{ Image(theme.link ~ '/img/hotrocks-splash-logo.png')|resize(200) }}" alt="Hot Rocks logo">
                </div>
                <div class="large-4 cell footer-content large-text-left text-center">
                    399 County Road A<br>
                    Wisconsin Dells, WI 53965
                </div>
                <div class="large-4 cell footer-content">
                    {{ option.phone }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {# LOAD FONTS #}
    <script>
        // Load fonts asynchronously.
        WebFontConfig = {
            google: {
                families: ['Roboto Condensed:400,700', 'Open Sans:400,400i,700:latin']
            }
        };

        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    {{ function('wp_footer') }}

    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        const tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        const firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        let player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                playerVars: { 'autoplay': 1, 'controls': 0, 'rel': 0, 'showinfo': 0 },
                videoId: 'Sh6NMj6ILE4',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.mute();
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.ENDED) {
                console.log('ended');
                player.playVideo();
            }
        }
    </script>
{% endblock %}
