{% extends "base.twig" %}

{% block content %}
    {# MAIN CONTENT #}
    <article class="grid-container">
        <h1>Search Results For: {{ fn('get_search_query') }}</h1>

        <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-8">
                <form action="/">
                    <div class="input-group">
                        <label class="show-for-sr" for="s">Search</label>
                        <input id="s" class="input-group-field" type="search" name="s"
                               value="{{ fn('get_search_query') }}">
                        <div class="input-group-button">
                            <button type="submit" class="button expanded text-upper">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% for post in posts %}
            <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
            <p>{{ post.preview }}</p>
            <hr>
        {% endfor %}

        {% include 'partials/pagination.twig' %}
    </article>
{% endblock %}