{% extends "base.twig" %}

{% block content %}
<div class="restaurant-menu-single">

    <section class="grid-container text-center">
        <h1 class="text-upper bold">{{ post.title }}</h1>
        {{ post.content }}
    </section>


    <section class="menu-container">
        <div class="grid-container">

            {% for menu in post.get_field("restaurant_menu") %}
                <div class="menu-group">

                    {% if menu.title %}
                        <h2 class="menu-group-heading">{{ menu.title }}</h2>
                    {% endif %}

                    <div class="section-text">
                        {{ menu.section_text }}
                    </div>

                    {% set length_left = ( menu.menu_item|length / 2 )|round(0, 'ceil') %}
                    {% set length_right = ( menu.menu_item|length / 2 )|round(0, 'floor') %}

                    <div class="menu-items-wrap">
                        <div class="grid-x">
                            <div class="medium-6 cell">
                                <div class="menu-section">
                                    {% for menu_item in menu.menu_item|slice( 0, length_left ) %}
                                        {% include 'partials/menu-item.twig' %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="medium-6 cell">
                                <div class="menu-section">
                                    {% for menu_item in menu.menu_item|slice( length_left, length_right ) %}
                                        {% include 'partials/menu-item.twig' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>
    </section>

</div>
{% endblock %}
