{% extends "base.twig" %}

{% block content %}
    <div class="special-single">
        <section class="grid-container content">

            <div class="grid-x">
                <div class="cell large-7">
                    <h1 class="text-upper bold">{{ post.title }}</h1>
                    <h3 class="valid bold text-upper">Valid {{ post.valid }}</h3>
                    <div class="content">
                        {{ post.content }}
                    </div>
                </div>
                <div class="cell large-5 text-right">
                    <img src="{{ Image(post.thumbnail).src|resize(400) }}" alt="">
                </div>
            </div>
        </section>

        <section class="specials-nav grid-container">
            {% if previous %}

                <div class="specials-nav-prev">
                    <svg data-link="{{ previous.link }}" class="icon prev" viewBox="0 0 63.7 63.7">
                        <g>
                            <path class="outer" d="M31.8,63.7C14.3,63.7,0,49.4,0,31.8S14.3,0,31.8,0s31.8,14.3,31.8,31.8S49.4,63.7,31.8,63.7z M31.8,3C15.9,3,3,15.9,3,31.8
		s12.9,28.8,28.8,28.8s28.8-12.9,28.8-28.8S47.7,3,31.8,3z"/>
                        </g>
                        <g>
                            <path class="inner" d="M45.9,33.4L26.3,53c-0.3,0.3-0.6,0.4-1,0.4s-0.7-0.2-1-0.4l-2.1-2.1c-0.3-0.3-0.4-0.6-0.4-1c0-0.3,0.2-0.7,0.4-1l16.5-16.5
		L22.3,15.9c-0.3-0.3-0.4-0.6-0.4-1s0.2-0.7,0.4-1l2.1-2.1c0.3-0.3,0.6-0.4,1-0.4s0.7,0.2,1,0.4l19.6,19.6c0.3,0.3,0.4,0.6,0.4,1
		S46.1,33.1,45.9,33.4z"/>
                        </g>
                    </svg>

                    <a class="text-upper bold" href="{{ previous.link }}">
                        <span>Previous Special</span>
                    </a>
                </div>


            {% endif %}

            {% if next %}
                <div class="specials-nav-next {{ not previous ? 'no-prev' }}">
                    <a class="text-upper bold" href="{{ next.link }}">
                        <span>Next Special</span>
                    </a>

                    <svg data-link="{{ next.link }}" class="icon" viewBox="0 0 63.7 63.7">
                        <g>
                            <path class="outer" d="M31.8,63.7C14.3,63.7,0,49.4,0,31.8S14.3,0,31.8,0s31.8,14.3,31.8,31.8S49.4,63.7,31.8,63.7z M31.8,3C15.9,3,3,15.9,3,31.8
		s12.9,28.8,28.8,28.8s28.8-12.9,28.8-28.8S47.7,3,31.8,3z"/>
                        </g>
                        <g>
                            <path class="inner" d="M45.9,33.4L26.3,53c-0.3,0.3-0.6,0.4-1,0.4s-0.7-0.2-1-0.4l-2.1-2.1c-0.3-0.3-0.4-0.6-0.4-1c0-0.3,0.2-0.7,0.4-1l16.5-16.5
		L22.3,15.9c-0.3-0.3-0.4-0.6-0.4-1s0.2-0.7,0.4-1l2.1-2.1c0.3-0.3,0.6-0.4,1-0.4s0.7,0.2,1,0.4l19.6,19.6c0.3,0.3,0.4,0.6,0.4,1
		S46.1,33.1,45.9,33.4z"/>
                        </g>
                    </svg>
                </div>
            {% endif %}
        </section>
    </div>

{% endblock %}
