{% extends "base.twig" %}

{% block content %}

    <div class="info-template">

        <div class="grid-container">

            <div class="text-center content">
                <h1 class="text-upper bold">{{ post.title }}</h1>
                {{ post.content }}
            </div>


            <div class="grid-x grid-margin-x">
                <div class="large-6 cell">

                    <h2 class="bold text-upper">{{ form_title }}</h2>

                    <div class="info">
                        <div>
                            <svg data-link="tel:1{{ fn('format_phone', option.phone) }}" class="icon phone-icon">
                                <use xlink:href="#phone"></use>
                            </svg>
                        </div>
                        <div class="bold">
                            <a href="tel:1{{ fn('format_phone', option.phone) }}">{{ option.phone }}</a>
                        </div>
                    </div>

                    <div class="info">
                        <div>
                            <svg class="icon">
                                <use xlink:href="#envelope"></use>
                            </svg>
                        </div>
                        <div class="bold">{{ option.email }}</div>
                    </div>

                    <div class="info">
                        <div>
                            <svg class="icon">
                                <use xlink:href="#map-marker-alt"></use>
                            </svg>
                        </div>
                        <div class="bold">{{ option.address.street }}<br>
                            {{ option.address.city }}, {{ option.address.state }} {{ option.address.zip }}
                        </div>
                    </div>

                    <div class="social">
                        {% for item in option.social_media_links %}
                            <div>
                                <a href="{{ item.link }}" target="_blank">
                                    <span class="show-for-sr">{{ item.site }}</span>
                                    <svg class="icon">
                                        <use xlink:href="#{{ item.site }}"></use>
                                    </svg>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="large-6 cell">
                    {{ fn('gravity_form', 2, false, false, false, null, true) }}
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="map">
                <div id="map" style="width: 100%; height: 500px;"></div>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer %}


    {{ parent() }}

    {% include 'partials/contact-map-script.twig' %}
{% endblock %}