{% extends "base.twig" %}

{% block content %}

    <div class="gallery-template">
        <section class="grid-container text-center">
            <h1 class="text-upper bold">{{ post.title }}</h1>
            {{ post.content }}

            <div class="video-player">
                <div class="responsive-embed widescreen video-container">
                    <div id="player"></div>
                </div>
            </div>

            <div class="galleries grid-x grid-margin-x grid-margin-y">

                {% for gallery in post.get_field("galleries") %}

                    <div class="cell large-6">
                        <figure data-open="galleryModal-{{ loop.index }}">
                            <img src="{{ Image(gallery.gallery)[0]|resize(600,370) }}"
                                 alt="{{ Image(gallery.gallery)[0].alt }}">
                            <figcaption class="text-left h2 text-upper bold">{{ gallery.title }}</figcaption>
                        </figure>
                    </div>


                    <div class="reveal gallery-modal" id="galleryModal-{{ loop.index }}" data-reveal>


                        <div class="gallery-slide">
                            {% for image in gallery.gallery %}
                                <figure>
                                    <img src="{{ Image(image) }}" alt="{{ Image(image).alt }}">
                                </figure>
                            {% endfor %}
                        </div>

                        <div class="gallery-nav-carousel show-for-medium">
                            {% for image in gallery.gallery %}
                                <figure>
                                    <img src="{{ Image(image)|resize(250,200) }}" alt="{{ Image(image).alt }}">
                                </figure>
                            {% endfor %}
                        </div>


                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <svg class="icon">
                                <use xlink:href="#times-circle"></use>
                            </svg>
                        </button>

                    </div>

                {% endfor %}
            </div>

        </section>
    </div>


{% endblock %}
{% block footer %}

    {{ parent() }}

    <script>
        const initVideo = {{ post.video }};
        const options = {
            id: initVideo,
            width: 1280,
            loop: false,
            autoplay: false,
            title: false,
            byline: false
        };
        jQuery.createPlayer('player', options)


    </script>

{% endblock %}